<template>
  <div>
    {{ greeting }}
  </div>
</template>

<script lang="ts">
export default {
  name: 'Greeting2',
  setup() {
    const greeting = 'Hello, Martín';

    return {
      greeting,
    };
  },
};
</script>